.bg{
    display: flex;
    justify-content: space-around;
}


.lightning-streak{
    height: calc(100vh + 100px);
    margin-top: -20px;
    stroke-width: 0;
    stroke: #f9f181;
    }

    .btn{
    position: absolute;
    top: 200px;
    left: 20px;
    border: none;
    }