:root {
  /* --sec2_img_TOP: 10%;
    --sec2_img_LEFT: 20%; 
    --sec2_img_RIGHT: 80%; 
    --sec2_img_BOTTOM: 80%;  */
}

html * {
  box-sizing: border-box;
}

body {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: gray;
  color: black;
}

aside {
  position: fixed;
  /* background-color: green;
    border-radius: 50px; */
  width: 150px;
  height: 50px;
  z-index: 9999;
}

aside img {
  width: 100%;
}

.top_left {
  top: 20px;
  left: 20px;
}

.top_right {
  top: 20px;
  right: 20px;
  text-align: right;
}

.bottom_right {
  width: 150px;
  height: 150px;
  bottom: 0;
  right: 0;
}

.bottom_left {
  bottom: 20px;
  left: 20px;
}

nav {
  z-index: 1000;
  position: fixed;
  top: 45%;
  right: 20px;
}

nav ul {
  list-style-type: disc;
}

nav li {
  display: block;
  widows: 14px;
  height: 13px;
  margin: 17px 6px;
  position: relative;
}

nav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 17px 6px;
  position: relative;
}

nav a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 17px 6px;
  position: relative;
}

nav a span {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.3;
}

nav a span:hover {
  opacity: 1;
}

nav a.active span {
  background: #fff;
  opacity: 1;
}

main {
  z-index: 10;
  height: 100%;
  position: relative;
  transition: all 300ms linear 0s;
}

section {
  z-index: 100;
  position: relative;
}

#sec1 {
  background-image: url(slike/pozadina_plavo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sec2 {
  background-image: url(slike/pozadina_sivo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sec3 {
  background-image: url(fotolia_96089177_l.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
****************************************************** 
******************************************************
******************************************************
******************************************************
******************************************************
*/
#sec1 h1 {
  text-align: center;
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
  font-size: 4em;
  /* text-shadow: 5px 5px rgb(95, 95, 95);  */
  font-weight: bold;
}

#sec1 h1 * {
  background: linear-gradient(to right, #036096 0%, #0425b4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media only screen and (max-width: 700px) {
  #sec1 h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 500px) {
  #sec1 h1 {
    font-size: 2em;
  }
}

#sec1 .container > div {
  height: 50vh;
}

#sec1 .row > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: unset;
  /* Used if the image is unavailable */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: auto 50%;
  /* Resize the background image to cover the entire container*/
  transition: all .5s ease-in-out;
}

#sec1 .row > div:hover {
  transform: scale(1.15);
}

#sec1 .topL {
  background-image: url(slike/browse_circle.png);
  /* The image used */
}

#sec1 .topR {
  background-image: url(slike/android.png);
  /* The image used */
}

#sec1 .bottomL {
  background-image: url(slike/Domain-PNG-File.png);
  /* The image used */
}

#sec1 .bottomR {
  background-image: url(slike/hosting.png);
  /* The image used */
}

#sec1 h2 {
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow: -1px 0 #1e5799, 0 1px #1e5799, 3px 0 #1e5799, 0 -1px #1e5799;
}

.arrow_container {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  transform: scale(0.666);
}

.divider {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.divider strong {
  color: white;
  font-size: 5em;
  text-shadow: -8px 0 #1e5799, 0 8px #1e5799, 8px 0 #1e5799, 0 -8px #1e5799;
}

menu {
  display: none;
  z-index: 9000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-image: url(slike/pozadina_crno.jpg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

menu ul {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  font-size: 3em;
}

@media only screen and (max-width: 700px) {
  menu ul {
    font-size: 2em;
  }
  .divider strong {
    font-size: 3em;
  }
}

@media only screen and (max-width: 500px) {
  menu ul {
    font-size: 1em;
  }
  .divider strong {
    font-size: 2em;
  }
}

/*
****************************************************** 
******************************************************
**********            SEC 2                     ******
******************************************************
******************************************************
*/
#sec2 .imgs_container {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 10%;
  left: 5%;
  right: 10%;
  bottom: 10%;
  opacity: 0.5;
}

#sec2 .imgs_container img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
  /* pozicioniranje pre pocetnog ucitavanja */
  top: 130%;
  left: 47%;
}

/* #sec2:not(.active) .imgs_container img{   
    opacity: 0;
    top: 130%;
    left: 47%;
} */
@media only screen and (max-width: 700px) {
  #sec2 .imgs_container img {
    max-width: 70px;
    max-height: 70px;
  }
}

@media only screen and (max-width: 500px) {
  #sec2 .imgs_container img {
    max-width: 50px;
    max-height: 50px;
  }
}
